body {
  margin: 0;
  overflow: hidden;
  background-color: #121212;
  font-family: "Inter", sans-serif;
}

button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #6c5ce7;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
